<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <a href="/user/logout/"
      ><button
        style="align: right"
        class="m-4 p-4 h-15 text-red-700 transition-colors duration-150 border border-red-500 rounded-lg focus:shadow-outline hover:bg-red-500 hover:text-red-100"
      >
        Logout
      </button></a
    >

    <ul class="flex flex-wrap m-4 p-4">
      <li class="mr-2">
        <a
          href="/tasks/"
          class="inline-block py-3 px-4 text-sm font-medium text-center text-[#EF4444] rounded-lg hover:text-[#EF1111] hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white"
          >Incomplete</a
        >
      </li>
      <li class="mr-2">
        <a
          href="/completed_tasks/"
          class="inline-block py-3 px-4 text-sm font-medium text-center text-[#EF4444] rounded-lg hover:text-[#EF1111] hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-800 dark:hover:text-white"
          >Complete</a
        >
      </li>
      <li class="mr-2">
        <a
          href="#"
          class="inline-block py-3 px-4 text-sm font-medium text-center text-white bg-[#EF4444] rounded-lg active"
          aria-current="page"
          >All</a
        >
      </li>
      <li></li>
    </ul>
    <h2 class="p-2 m-2 text-2xl font-bold">All Tasks:</h2>
    <ul class="list-disc p-4 m-4">
      {% for i in all_tasks %}
      <li>
        {{forloop.counter}}.&nbsp; {{i}}
        <a href="/task/{{i.id}}"
          ><button
            type="button"
            class="m-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
          >
            View Task
          </button></a
        >
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
