<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Title:</h2>
    <p>{{object.title}}</p>
    <p>
      <b>Created On:</b> {{object.created_date}}<br />
      <b>Priority:</b> {{object.priority}}
    </p>
    <br />
    <h2>Description:</h2>
    <p>{{object.description}}</p>
  </body>
</html>
